.card {
  background-color: #ffffff;
  max-width: 282px;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  position: relative;
}

.card__title-container {
  display: flex;
  padding: 25px 0 30px 0;
  justify-content: space-between;
  align-items: baseline;
  max-width: 246px;
  margin: 0 auto;
}

.card__title {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
}

.card__delete-button {
  padding: 0;
  margin: 0;
  background: transparent url(../images/trash_icon.svg);
  background-repeat: no-repeat;
  border: none;
  min-width: 18px;
  min-height: 19px;
  position: absolute;
  top: 18px;
  right: 15px;
}

.card__delete-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.card__like-button {
  padding: 0;
  margin: 0;
  background: transparent url(../images/heart_icon_disabled.svg);
  background-repeat: no-repeat;
  border: none;
  min-width: 21px;
  min-height: 19px;
  transition: 0.2s ease-in;
}

.card__like-button_active {
  background: transparent url(../images/heart_icon_active.svg);
  background-repeat: no-repeat;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.card__image {
  border-radius: 10px 10px 0px 0px;
  min-width: 282px;
  min-height: 282px;
  background-position: center;
  background-size: cover;
}
