.card {
  background-color: #ffffff;
  max-width: 282px;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
}

.card__title-container {
  display: flex;
  padding: 25px 0 30px 0;
  justify-content: space-between;
  align-items: baseline;
  max-width: 246px;
  margin: 0 auto;
}

.card__title {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
}

.card__button {
  padding: 0;
  margin: 0;
  background: transparent url(../images/heart_icon_disabled.svg);
  background-repeat: no-repeat;
  border: none;
  min-width: 21px;
  min-height: 19px;
}

/*.card__button_active {
  background: transparent url(../images/heart_icon_active.svg);
  background-repeat: no-repeat;
}*/

.card__button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.card__image {
  border-radius: 10px 10px 0px 0px;
  max-width: 282px;
  max-height: 282px;
}
