.elements__container {
  padding: 46px 0 0 0;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 17px;
  max-width: 880px;
  margin: 0 auto;
  list-style: none;
}

@media screen and (max-width: 950px) {
  .elements__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
  }
}

@media screen and (max-width: 630px) {
  .elements__container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    max-width: 282px;
  }
}
