.profile__name {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.14;
  margin: 0;
}

.profile__occupation {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  margin: 0;
}

.profile__photo {
  border-radius: 50%;
  max-width: 168px;
  max-height: 127px;
}
