.profile {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  margin: 0 auto;
  padding-top: 37px;
  max-width: 880px;
}

.profile__name {
  font-size: 42px;
  font-weight: 500;
  line-height: 1.14;
  margin: 0;
  padding-right: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;
}

.profile__bio {
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  max-width: 415px;
  margin: 0;
  align-self: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__photo {
  border-radius: 50%;
  max-width: 120px;
  max-height: 120px;
  margin: 0 26px 0 0;
}

.profile__edit-button {
  min-width: 24px;
  min-height: 24px;
  background-image: url(../images/edit_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  transition: 0.2s ease-in;
  padding: 0;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__add-button {
  min-width: 150px;
  min-height: 50px;
  background-color: transparent;
  background-image: url(../images/add_icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  align-self: center;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  transition: 0.2s ease-in;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__info {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: auto 24px;
  max-width: 415px;
  align-items: center;
}

@media screen and (max-width: 470px) {
  .profile {
    max-width: 282px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .profile__photo {
    margin: 0 auto;
  }

  .profile__info {
    max-width: 282px;
    grid-template-columns: 1fr 18px;
    grid-template-rows: repeat(2, auto);
    align-items: end;
    text-align: center;
    padding-top: 26px;
  }

  .profile__name {
    font-size: 22px;
    line-height: 1.2;
    padding: 0;
  }

  .profile__edit-button {
    min-width: 18px;
    min-height: 18px;
  }

  .profile__bio {
    font-size: 14px;
    line-height: 1.2;
    margin: 0;
    padding: 14px 0 36px 0;
  }

  .profile__add-button {
    min-width: 282px;
  }
}
