.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 37px;
}

.profile__name {
  font-size: 42px;
  font-weight: 500;
  line-height: 1.14;
  margin: 0;
  padding-right: 18px;
}

.profile__bio {
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  margin: 0;
  align-self: start;
}

.profile__photo {
  border-radius: 50%;
  max-width: 120px;
  max-height: 120px;
  margin: 0;
}

.profile__edit-button {
  max-width: 24px;
  max-height: 24px;
  background-color: #000000;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  transition: 0.2s ease-in;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__add-button {
  min-width: 150px;
  min-height: 50px;
  background-color: #000000;
  align-self: center;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  transition: 0.2s ease-in;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__info {
  display: flex;
  flex-wrap: wrap;
  min-width: 415px;
  align-items: center;
  padding-right: 165px;
}

@media screen and (max-width: 950px) {
  .profile {
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .profile__info {
    padding: 35px 0 35px 0;
    justify-content: center;
  }

  .profile__name {
    padding-bottom: 14px;
  }
}

@media screen and (max-width: 470px) {
  .profile__info {
    text-align: center;
    max-width: 282px;
    padding-top: 26px;
  }

  .profile__name {
    font-size: 22px;
    line-height: 1.2px;
    margin-bottom: 14px;
  }

  .profile__occupation {
    font-size: 14px;
    line-height: 1.2px;
  }
}
